.hero {
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: rgb(255, 255, 255);
  background-color: black;
  text-align: center;
  padding: 20px;
}

.hero h1 {
  margin-bottom: 20px;
  font-size: 2.5rem;
}

.hero p {
  margin-bottom: 20px;
  font-size: 1.2rem;
}

.hero button {
  padding: 10px 20px;
  font-size: 1rem;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.hero button:hover {
  background-color: #0056b3;
}
